@import "resources/assets/muziq/vendor/bootstrap";
@import "resources/assets/muziq/vendor/font-awesome.min";

@import "resources/assets/muziq/vendor/superslides";
@import "resources/assets/muziq/vendor/owl.carousel";
@import "resources/assets/muziq/vendor/owl.transitions";
@import "resources/assets/muziq/vendor/flickity.min";
@import "resources/assets/muziq/vendor/swipebox.min";
@import "resources/assets/muziq/vendor/TimeCircles";

@import "resources/assets/muziq/main-hiphop";
@import "resources/assets/muziq/demo";

@import "resources/assets/muziq/colors/color-lightyellow";
@import "resources/assets/muziq/colors/color-lightblue";
@import "resources/assets/muziq/colors/color-purple";
@import "resources/assets/muziq/colors/color-green";
@import "resources/assets/muziq/colors/color-militar";
@import "resources/assets/muziq/colors/color-caqui";
@import "resources/assets/muziq/colors/color-lightred";


@mixin set-border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin disable-text-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

//*{
//  font-family: normal normal normal 13px/1.4em Arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
//  font-weight: 100;
//}

